$gray-text: #adb5bd;
$light-text: #dee2e6;

footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  gap: 20px;
  bottom: 11%;
  width: 90%;
  padding: 0;

  .contact {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-size: 21px;
    color: $gray-text;
    padding-left: 32px;
  }

  .description {
    font-size: 5vw;
    flex: 5;
    font-weight: 600;
    color: $light-text;
  }
}

@media (max-width: 1120px) {
  footer {
    gap: 40px;
    .contact {
      font-size: 14px;
    }
  }
}

@media (max-width: 945px) {
  footer {
    flex-direction: column-reverse;
    gap: 40px;

    .description {
      font-size: 7vw;
    }
    .contact {
      font-size: 16px;
    }
  }
}

@media (max-width: 315px) {
  footer {
    .contact {
      font-size: 14px;
    }
  }
}
